<div class="panel panel-info">
	<div class="panel-heading">
		<h2>Rentit</h2>
	</div>

	<nav class="navbar navbar-inverse" role="navigation">
		<ul class="nav navbar-nav">
			<li class="active"><a type="href" href="#/home"> Home </a></li>
			<li role="presentation"><a type="href" href="#/plants">Plants</a></li>
			<li role="presentation"><a type="href" href="#/pos">Purchase Orders</a></li>
			<li role="presentation"><a type="href" href="#/available">Available Plants</a></li>
			<li role="presentation"><a type="href" href="#/availabilityprice">Availability/Price</a></li>
			<li role="presentation"><a type="href" href="#/status">Check PO Status</a></li>
			<li role="presentation"><a type="href" href="#/invoices">Invoices</a></li>
		</ul>
	</nav>
</div>

<div class="panel panel-default">
    <div class="panel-heading"><b>Invoices</b></div>
    <div class="panel-body">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Purchase Order</th>
                    <th>Total Price</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="invoice in invoices">
                    <td><button ng-click="findPO(invoice.poRef)">
                            Inspect Purchase Order
                    </button></td>
                    <td>{{invoice.price}}</td>
                    <td>{{invoice.status}}</td>
                    <td>
                        <button class="btn btn-xs" ng-repeat="link in invoice._links"
                            ng-class="{'btn-success':link.method=='POST','btn-danger':link.method=='DELETE'}"
                            ng-click="follow(link)">
                            {{link.rel}}
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
        <div ng-show="poShown">
        <div class="panel-heading"><b>Purchase Order Details</b></div>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{po.plant.name}}</td>
                        <td>{{po.startDate | date:"yyyy-MM-dd"}}</td>
                        <td>{{po.endDate | date:"yyyy-MM-dd"}}</td>
                        <td>{{po.cost}}</td>
                    </tr>
                </tbody>
            </table>
        </div>