<div class="panel panel-info">
	<div class="panel-heading">
		<h2>Rentit</h2>
	</div>

	<nav class="navbar navbar-inverse" role="navigation">
		<ul class="nav navbar-nav">
			<li class="active"><a type="href" href="#/home"> Home </a></li>
			<li role="presentation"><a type="href" href="#/plants">Plants</a></li>
			<li role="presentation"><a type="href" href="#/pos">Purchase Orders</a></li>
			<li role="presentation"><a type="href" href="#/available">Available Plants</a></li>
			<li role="presentation"><a type="href" href="#/availabilityprice">Availability/Price</a></li>
			<li role="presentation"><a type="href" href="#/status">Check PO Status</a></li>
			<li role="presentation"><a type="href" href="#/invoices">Invoices</a></li>
		</ul>
	</nav>
</div>

<div class="panel panel-default">
	<div class="panel-heading"> <b> Available Plants</b> </div>
	<div class="panel-body">

		<form class="form-horizontal">
			<div class="form-group">
				<label for="id" class="col-sm-2 control-label">Plant Name</label> <input
					id="PlantName" type="text" ng-model="name"></input>
			</div>
			<div class="form-group">
				<label for="startDate" class="col-sm-2 control-label">Start
					date</label> <input id="StartDateID" type="date" ng-model="startDate"
					date-parser="yyyy-MM-dd"></input>
			</div>
			<div class="form-group">
				<label for="endDate" class="col-sm-2 control-label">End date</label>
				<input id="EndDateID" type="date" ng-model="endDate"
					date-parser="yyyy-MM-dd"></input>
			</div>
			<button id="SubmitButtonID" class="btn btn-info"
				ng-click="execQuery()">Submit</button>
		</form>
		<p />
		<div ng-show="plantsShown">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>Name</th>
						<th>Description</th>
						<th>Price</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="plant in plants">
						<td>{{plant.name}}</td>
						<td>{{plant.description}}</td>
						<td>{{plant.price}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>