<div class="panel panel-info">
	<div class="panel-heading">
		<h2>Rentit</h2>
	</div>

	<nav class="navbar navbar-inverse" role="navigation">
		<ul class="nav navbar-nav">
			<li class="active"><a type="href" href="#/home"> Home </a></li>
			<li role="presentation"><a type="href" href="#/plants">Plants</a></li>
			<li role="presentation"><a type="href" href="#/pos">Purchase Orders</a></li>
			<li role="presentation"><a type="href" href="#/available">Available Plants</a></li>
			<li role="presentation"><a type="href" href="#/availabilityprice">Availability/Price</a></li>
			<li role="presentation"><a type="href" href="#/status">Check PO Status</a></li>
			<li role="presentation"><a type="href" href="#/invoices">Invoices</a></li>
		</ul>
	</nav>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<b> Availability and Price of a Plant</b>
	</div>
	<div class="panel-body">

		<form class="form-horizontal">
			<div class="form-group">
				<label for="id" class="col-sm-2 control-label">Plant ID</label> <input
					id="PlantID" type="text" ng-model="id"></input>
			</div>
			<div class="form-group">
				<label for="startDate" class="col-sm-2 control-label">Start
					date</label> <input id="StartDateID" type="date" ng-model="startDate"
					date-parser="yyyy-MM-dd"></input>
			</div>
			<div class="form-group">
				<label for="endDate" class="col-sm-2 control-label">End date</label>
				<input id="EndDateID" type="date" ng-model="endDate"
					date-parser="yyyy-MM-dd"></input>
			</div>
			<button id="AvailButtonID" class="btn btn-info"
				ng-click="checkAvailability()">Check Availability</button>
			<button id="PriceButtonID" class="btn btn-info"
				ng-click="checkPrice()">Check Price</button>
		</form>
		<p />
		<div ng-show="availShown">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>Availability</th>
						<th>{{availability}}</th>
					</tr>
				</thead>
			</table>
		</div>
		<div ng-show="priceShown">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>Price</th>
						<th>{{price}}</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
</div>